
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Side Menu</span></a>
      </div>
      <div class="clearfix"></div>

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
          <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="/dashboard">Dashboard</a>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> Volume <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="/volume/info">Control</a>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-desktop"></i> Brick <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="#">Add-brick</a>
                </li>
                <li><a href="#">Remove brick</a>
                </li>
                <li><a href="#">Replace brick</a>
                </li>
                <li><a href="#">Rebalance start</a>
                </li>
                <li><a href="#">Rebalance stop</a>
                </li>
                <li><a href="#">Rebalance status</a>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-table"></i> Log <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="#">Set</a>
                </li>
                <li><a href="#">Locate</a>
                </li>
                <li><a href="#">Rotate</a>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-bar-chart-o"></i> Peer <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="/peer/index">Probe</a>
                </li>
                <li><a href="#">Detach</a>
                </li>
                <li><a href="#">Status</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="menu_section">
          <ul class="nav side-menu">
            <li><a><i class="fa fa-bug"></i> Tier <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="#">Attach</a>
                </li>
                <li><a href="#">Status</a>
                </li>
                <li><a href="#">Detach start</a>
                </li>
                <li><a href="#">Detach commit</a>
                </li>
                <li><a href="#">Detach status</a>
                </li>
                <li><a href="#">Detach stop</a>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-windows"></i> Geo replication <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="#">Create</a>
                </li>
                <li><a href="#">Start</a>
                </li>
                <li><a href="#">Stop</a>
                </li>
                <li><a href="#">Status</a>
                </li>
                <li><a href="#">Pause</a>
                </li>
                <li><a href="#">Resume</a>
                </li>
                <li><a href="#">Delete</a>
                </li>
                <li><a href="#">Config</a>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-sitemap"></i> Bitrot <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="#">Enable</a>
                </li>
                <li><a href="#">Disable</a>
                </li>
                <li><a href="#">Scrub throttle</a>
                </li>
                <li><a href="#">Scrub frequency</a>
                </li>
                <li><a href="#">Scrub Pause</a>
                </li>
                <li><a href="#">Scrub Resume</a>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-sitemap"></i> Snapshot <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="#">Create</a>
                </li>
                <li><a href="#">Restore</a>
                </li>
                <li><a href="#">Clone</a>
                </li>
                <li><a href="#">Delete</a>
                </li>
                <li><a href="#">List</a>
                </li>
                <li><a href="#">Info</a>
                </li>
                <li><a href="#">Status</a>
                </li>
                <li><a href="#">Config</a>
                </li>
                <li><a href="#">Activate</a>
                </li>
                <li><a href="#">Deactivate</a>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-sitemap"></i> Self heal <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="#">Heal</a>
                </li>
                <li><a href="#">Enable</a>
                </li>
                <li><a href="#">Disable</a>
                </li>
                <li><a href="#">Full</a>
                </li>
                <li><a href="#">Info</a>
                </li>
                <li><a href="#">Info split brain</a>
                </li>
                <li><a href="#">Statistics</a>
                </li>
                <li><a href="#">Statistics heal count</a>
                </li>
                <li><a href="#">Statistics heal count replica</a>
                </li>
                <li><a href="#">Split brain bigger file</a>
                </li>
                <li><a href="#">Split brain source brick</a>
                </li>
              </ul>
            </li>
            </li>
          </ul>
        </div>
      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a href="/users/sign_out" data-toggle="tooltip" data-placement="top" title="Logout">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
      <!-- /menu footer buttons -->
    </div>
  </div>
