
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Side Menu</span></a>
      </div>
      <div class="clearfix"></div>

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
          <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="/home/index">Dashboard</a>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> Volume <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="/volume/index">Control</a>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-desktop"></i> Node <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="/node/index">Control</a>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-table"></i> Log <span class="fa fa-chevron-down"></span></a>
            </li>
          </ul>
        </div>
        <div class="menu_section">
          <ul class="nav side-menu">
            <li><a><i class="fa fa-bug"></i> Tier <span class="fa fa-chevron-down"></span></a>
            </li>
            <li><a><i class="fa fa-windows"></i> Geo replication <span class="fa fa-chevron-down"></span></a>
            </li>
            <li><a><i class="fa fa-sitemap"></i> Bitrot <span class="fa fa-chevron-down"></span></a>
            </li>
            <li><a><i class="fa fa-sitemap"></i> Snapshot <span class="fa fa-chevron-down"></span></a>
            </li>
            <li><a><i class="fa fa-sitemap"></i> Self heal <span class="fa fa-chevron-down"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a href="/users/sign_out" data-toggle="tooltip" data-placement="top" title="Logout">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
      <!-- /menu footer buttons -->
    </div>
  </div>
