@CHARSET "EUC-KR";

.contextmenu { 
  border:1px solid #565656;
  background-color:#f5f5f5;
  color:#333;
  font-size:11px;
  position:absolute;
  display:none;
  z-index:100;
}
.contextmenu ul {
  list-style:none;
  margin:0;
  padding:0;
}

.contextmenu ul li {
  line-height:13px;
}

.menuitem { 
  padding:5px 15px 5px 15px;
  white-space:nowrap;
  cursor:default;
}

.hover { 
  background-color:#0088cc;
  color:#fff;
}

.divider {
  margin:2px 3px;
  border-top:1px solid #ccc;
  border-bottom:1px solid #fff;
}
